$white: #fff;
$black: #000;
$gorse: #fffa4a;
$emperor: #545454;
$mercury: #e7e7e7;
$mine-shaft: #222222;
$dark-gray: #3e3e3e;
$turbo: #ffe600;
$radical-red: #f62a66;
$azure-radiance: #0094ff;
$blue: #0084e3;
